mixin page-nav(data)
    nav.page-nav&attributes(attributes)
        //- .page-nav__container.container
        ul.page-nav__list
            li.page-nav__item.page-nav__item_active
                a.page-nav__link.js-to-go(href="#page-nav-1") Декор
            li.page-nav__item
                a.page-nav__link.js-to-go(href="#page-nav-2") сертификаты
            li.page-nav__item
                a.page-nav__link.js-to-go(href="#page-nav-3") Характеристики
            li.page-nav__item
                a.page-nav__link.js-to-go(href="#page-nav-4") Сферы применения
            li.page-nav__item
                a.page-nav__link.js-to-go(href="#page-nav-5") Монтаж панелей
            li.page-nav__item
                a.page-nav__link.js-to-go(href="#page-nav-6") Профиль
            li.page-nav__item
                a.page-nav__link.js-to-go(href="#page-nav-7") Доставка

