mixin advantages(data)
    section.advantages#section-3
        .advantages__container.container
            .advantages__title-w
                h2.advantages__title.title Преимущества потолочных панелей

                a.advantages__to-bottom.to-bottom.js-to-go(href='#section-4')
                    != pugHelpers.Icon.call(locals, {iconName: 'to-bottom-icon', className: 'to-bottom__icon'})


            ul.advantages__list
                li.advantages__item
                    != pugHelpers.Icon.call(locals, {iconName: 'advantages-icon-1', className: 'advantages__icon'})
                    .advantages__item-text Простота  установки 

                li.advantages__item
                    != pugHelpers.Icon.call(locals, {iconName: 'advantages-icon-2', className: 'advantages__icon'})
                    .advantages__item-text Отсутствие мокрых процессов

                li.advantages__item
                    != pugHelpers.Icon.call(locals, {iconName: 'advantages-icon-3', className: 'advantages__icon'})
                    .advantages__item-text Легкость доступа к скрытым коммуникациям

                li.advantages__item
                    != pugHelpers.Icon.call(locals, {iconName: 'advantages-icon-4', className: 'advantages__icon'})
                    .advantages__item-text Возможность демонтажа и установки в новом месте 

                li.advantages__item
                    != pugHelpers.Icon.call(locals, {iconName: 'advantages-icon-5', className: 'advantages__icon'})
                    .advantages__item-text Стандартная подсистема т-24

                li.advantages__item
                    != pugHelpers.Icon.call(locals, {iconName: 'advantages-icon-6', className: 'advantages__icon'})
                    .advantages__item-text Любые цветовые решения

                li.advantages__item
                    != pugHelpers.Icon.call(locals, {iconName: 'advantages-icon-7', className: 'advantages__icon'})
                    .advantages__item-text Возможность установки как типовых, так и точечных светильников

                li.advantages__item
                    != pugHelpers.Icon.call(locals, {iconName: 'advantages-icon-8', className: 'advantages__icon'})
                    .advantages__item-text Испотльзование экологичных материалов
