.advantages
    background: #FFF
    box-shadow: 0 -7px 22px rgba(0, 0, 0, 0.08)
    &__container
        padding-top: 30px
        padding-bottom: 30px
        +mq($medium)
            padding-top: $p
            padding-bottom: $p

    &__title-w
        position: relative
        padding-right: 120px
        +mq($medium)
            padding-right: 0

    &__title
        margin-bottom: 30px
        +mq($large)
            margin-bottom: 68px
            max-width: 570px

    &__row
        display: flex
        align-items: flex-start
        flex-wrap: wrap
        +mq($medium)
            margin-left: -15px
            margin-right: -15px


    &__col
        width: 100%
        +mq($medium)
            padding-right: 15px
            padding-left: 15px
            max-width: 50%

    &__profile
        margin-bottom: 40px
        text-align: center

    &__profile-image
        position: relative
        height: 180px
        display: flex
        justify-content: center
        align-items: center
        overflow: hidden
        img
            position: absolute
            top: 50%
            left: 50%
            // width: 100%
            height: 298px
            // object-fit: cover
            // object-position: 50% 100%
            transform: translate(-50%, -50%)



    &__profile-title
        margin-bottom: 20px
        justify-content: center

    &__profile-more
        display: inline-flex


    &__list
        display: flex
        justify-content: space-between
        align-items: flex-start
        flex-wrap: wrap
        +mq($medium)
            margin-right: -35px
            margin-left: -35px

    &__item
        margin-bottom: 36px
        width: 100%
        display: flex
        align-items: center
        +mq($medium)
            padding-right: 35px
            padding-left: 35px
            max-width: 50%

    &__icon
        width: 86px
        height: 86px
        flex-shrink: 0
        +mq($medium)
            margin-left: 18px
            width: 103px
            height: 103px


    &__item-text
        margin-left: 26px
        font-weight: 400
        +mq($medium)
            font-size: 24px
            line-height: 1.45

    &__text
        line-height: 1.5


.advantages_second
    .advantages__list
        +mq($medium)
            margin-right: 0
            margin-left: 0

    .advantages__item
        margin-bottom: 36px
        width: 100%
        display: flex
        align-items: center
        +mq($medium)
            padding-right: 0
            padding-left: 0
            max-width: 100%


.advantages_third
    background-image: linear-gradient(to right, #f8f8f8 0%, rgba(248, 248, 248, 0) 100%)

    // .advantages__list
    //     +mq($medium)
    //         margin-right: -15px
    //         margin-left: -15px

    // .advantages__item
    //     +mq($medium)
    //         padding-right: 15px
    //         padding-left: 15px

    .advantages__item-text
        margin-left: 24px
        font-size: 18px
        line-height: 1.5
