mixin delivery-28(data)
    section.delivery#page-nav-7

        .delivery__container.container
            .delivery__title-w
                h2.delivery__title.title Доставка

                a.delivery__to-bottom.to-bottom.js-to-bottom(href='#section-5')
                    != pugHelpers.Icon.call(locals, {iconName: 'to-bottom-icon', className: 'to-bottom__icon'})

            .delivery__row
                .delivery__entry
                    h3.delivery__entry-title.title.title_second
                        != pugHelpers.Icon.call(locals, {iconName: 'like-icon', className: 'title__icon'})
                        | Заголовок

                    .delivery__entry-text.text
                        p Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.  Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.  Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.  Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.  Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.  Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.
                .delivery__entry
                    h3.delivery__entry-title.title.title_second
                        != pugHelpers.Icon.call(locals, {iconName: 'like-icon', className: 'title__icon'})
                        | Заголовок

                    .delivery__entry-text.text
                        p Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.  Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.  Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.  Lorem ipsum dolor sit amet, mel noster imperdiet complectitur.


