mixin cta(data)
    section.cta
        .cta__container.container
            h2.cta__title.title Заполните заявку и узнайте цену

            form.cta__form(action="" method="")
                .cta__form-field.form__field.form__field_label_text.form__field_row
                    label.form__label Имя
                        input.form__input(type="input" name="" value="" checked)

                .cta__form-field.form__field.form__field_label_text.form__field_select.form__field_row
                    label.form__label Цвет
                        select.form__select(name="")
                            option(value="") Под дерево
                            option(value="") Под дерево
                            option(value="") Под дерево
                            option(value="") Под дерево
                            option(value="") Под дерево
                            option(value="") Под дерево
                        != pugHelpers.Icon.call(locals, {iconName: 'to-bottom-icon', className: 'form__select-icon'})

                .cta__form-field.form__field.form__field_label_text.form__field_row
                    label.form__label Фамилия
                        input.form__input(type="input" name="" value="" checked)

                .cta__form-field.form__field.form__field_label_text.form__field_row
                    label.form__label Толщина
                        input.form__input(type="input" name="" value="" checked)

                .cta__form-field.form__field.form__field_label_text.form__field_row
                    label.form__label Телефон
                        input.form__input(type="input" name="" value="" checked)

                .cta__form-field.form__field.form__field_label_text.form__field_row
                    label.form__label Объем
                        input.form__input(type="input" name="" value="" checked)

                .cta__submit-w.cta__form-field.form__field.form__field_submit
                    input.cta__form-submit.form__submit.button.button_bigger(type="submit" value="Отправить")

            img.cta__image(src="assets/images/content/сta-img-1.png", alt="")
