mixin cooperate(data)
    section.cooperate
        .cooperate__container.container
            h2.cooperate__title.title Мы сотрудничаем с крупными компаниями

            .cooperate__slider.slider.swiper-container.js-cooperate-slider
                .swiper-wrapper
                    .swiper-slide
                        ul.cooperate__list
                            li.cooperate__item
                                img.cooperate__logo(src="assets/images/content/cooperate-logo-1.png", alt="")
                            li.cooperate__item
                                img.cooperate__logo(src="assets/images/content/cooperate-logo-2.png", alt="")
                            li.cooperate__item
                                img.cooperate__logo(src="assets/images/content/cooperate-logo-3.png", alt="")
                            li.cooperate__item
                                img.cooperate__logo(src="assets/images/content/cooperate-logo-1.png", alt="")
                            li.cooperate__item
                                img.cooperate__logo(src="assets/images/content/cooperate-logo-2.png", alt="")
                            li.cooperate__item
                                img.cooperate__logo(src="assets/images/content/cooperate-logo-3.png", alt="")
                            li.cooperate__item
                                img.cooperate__logo(src="assets/images/content/cooperate-logo-1.png", alt="")
                            li.cooperate__item
                                img.cooperate__logo(src="assets/images/content/cooperate-logo-2.png", alt="")
                            li.cooperate__item
                                img.cooperate__logo(src="assets/images/content/cooperate-logo-3.png", alt="")
                            li.cooperate__item
                                img.cooperate__logo(src="assets/images/content/cooperate-logo-1.png", alt="")
                            li.cooperate__item
                                img.cooperate__logo(src="assets/images/content/cooperate-logo-2.png", alt="")
                            li.cooperate__item
                                img.cooperate__logo(src="assets/images/content/cooperate-logo-3.png", alt="")

                    .swiper-slide
                        ul.cooperate__list
                            li.cooperate__item
                                img.cooperate__logo(src="assets/images/content/cooperate-logo-1.png", alt="")
                            li.cooperate__item
                                img.cooperate__logo(src="assets/images/content/cooperate-logo-2.png", alt="")
                            li.cooperate__item
                                img.cooperate__logo(src="assets/images/content/cooperate-logo-3.png", alt="")
                            li.cooperate__item
                                img.cooperate__logo(src="assets/images/content/cooperate-logo-1.png", alt="")
                            li.cooperate__item
                                img.cooperate__logo(src="assets/images/content/cooperate-logo-2.png", alt="")
                            li.cooperate__item
                                img.cooperate__logo(src="assets/images/content/cooperate-logo-3.png", alt="")
                            li.cooperate__item
                                img.cooperate__logo(src="assets/images/content/cooperate-logo-1.png", alt="")
                            li.cooperate__item
                                img.cooperate__logo(src="assets/images/content/cooperate-logo-2.png", alt="")
                            li.cooperate__item
                                img.cooperate__logo(src="assets/images/content/cooperate-logo-3.png", alt="")
                            li.cooperate__item
                                img.cooperate__logo(src="assets/images/content/cooperate-logo-1.png", alt="")
                            li.cooperate__item
                                img.cooperate__logo(src="assets/images/content/cooperate-logo-2.png", alt="")
                            li.cooperate__item
                                img.cooperate__logo(src="assets/images/content/cooperate-logo-3.png", alt="")

                    .swiper-slide
                        ul.cooperate__list
                            li.cooperate__item
                                img.cooperate__logo(src="assets/images/content/cooperate-logo-1.png", alt="")
                            li.cooperate__item
                                img.cooperate__logo(src="assets/images/content/cooperate-logo-2.png", alt="")
                            li.cooperate__item
                                img.cooperate__logo(src="assets/images/content/cooperate-logo-3.png", alt="")
                            li.cooperate__item
                                img.cooperate__logo(src="assets/images/content/cooperate-logo-1.png", alt="")
                            li.cooperate__item
                                img.cooperate__logo(src="assets/images/content/cooperate-logo-2.png", alt="")
                            li.cooperate__item
                                img.cooperate__logo(src="assets/images/content/cooperate-logo-3.png", alt="")
                            li.cooperate__item
                                img.cooperate__logo(src="assets/images/content/cooperate-logo-1.png", alt="")
                            li.cooperate__item
                                img.cooperate__logo(src="assets/images/content/cooperate-logo-2.png", alt="")
                            li.cooperate__item
                                img.cooperate__logo(src="assets/images/content/cooperate-logo-3.png", alt="")
                            li.cooperate__item
                                img.cooperate__logo(src="assets/images/content/cooperate-logo-1.png", alt="")
                            li.cooperate__item
                                img.cooperate__logo(src="assets/images/content/cooperate-logo-2.png", alt="")
                            li.cooperate__item
                                img.cooperate__logo(src="assets/images/content/cooperate-logo-3.png", alt="")




                .slider__pagination-w

                    .swiper-pagination.slider__pagination

                    .slider__button.slider__button_prev
                        != pugHelpers.Icon.call(locals, {iconName: 'slider-arrow', className: 'slider__button-icon'})
                    .slider__button.slider__button_next
                        != pugHelpers.Icon.call(locals, {iconName: 'slider-arrow', className: 'slider__button-icon'})
