mixin advantages-33(data)
    section.advantages.advantages_second#section-3
        .advantages__container.container
            .advantages__title-w
                h2.advantages__title.title Преимущества

                a.advantages__to-bottom.to-bottom.js-to-go(href='#section-4')
                    != pugHelpers.Icon.call(locals, {iconName: 'to-bottom-icon', className: 'to-bottom__icon'})

            .advantages__row
                .advantages__col
                    article.advantages__profile
                        figure.advantages__profile-image
                            img(src="assets/images/content/profile-image-1.png", alt="profile-image")
                        .advantages__profile-title.title.title_fourth Оцинкованный профиль

                        a.advantages__profile-more.button.button_bigger(href='#') Узнать подробне


                    ul.advantages__list
                        li.advantages__item
                            != pugHelpers.Icon.call(locals, {iconName: 'advantages-icon-1', className: 'advantages__icon'})
                            .advantages__item-text Простота установки 

                        li.advantages__item
                            != pugHelpers.Icon.call(locals, {iconName: 'advantages-icon-3', className: 'advantages__icon'})
                            .advantages__item-text Легкость доступа к скрытым коммуникациям


                    .advantages__text
                        p Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.  Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.  Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.  Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.

                .advantages__col
                    article.advantages__profile
                        figure.advantages__profile-image
                            img(src="assets/images/content/profile-image-2.png", alt="profile-image")
                        .advantages__profile-title.title.title_fourth алюминевый профиль

                        a.advantages__profile-more.button.button_bigger(href='#') Узнать подробне


                    ul.advantages__list
                        li.advantages__item
                            != pugHelpers.Icon.call(locals, {iconName: 'advantages-icon-1', className: 'advantages__icon'})
                            .advantages__item-text Простота  установки 

                        li.advantages__item
                            != pugHelpers.Icon.call(locals, {iconName: 'advantages-icon-3', className: 'advantages__icon'})
                            .advantages__item-text Легкость доступа к скрытым коммуникациям


                    .advantages__text
                        p Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.  Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.  Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.  Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.

