.use-cases
    &__title
        margin-bottom: 30px
        padding-right: 30px
        display: flex
        align-items: center
        +mq($medium)
            padding-right: 0

    &__icon
        margin-right: 14px

    &__list
        display: flex
        flex-wrap: wrap

    &__item
        margin-bottom: 38px
        width: 100%
        display: flex
        align-items: center

        font-size: 24px
        font-weight: 400
        line-height: 1
        +mq($medium)
            margin-bottom: 38px
            max-width: 50%


    &__icon
        margin-top: -10px
        margin-right: 20px

    &__button
        margin-top: 0
        padding-right: 14px
        padding-left: 14px
        +mq($medium)
            margin-top: 15px

