.use-cases
    &__title
        margin-bottom: 30px
        display: flex
        align-items: center

    &__icon
        margin-right: 14px

    // &___form

    &__list
        display: flex
        flex-wrap: wrap

    &__item
        margin-bottom: 28px
        width: 100%
        display: flex
        align-items: center

        font-size: 24px
        font-weight: 400
        line-height: 1
        +mq($medium)
            margin-bottom: 30px
            max-width: 50%

        &:last-child
            margin-bottom: 0
            +mq($medium)
                margin-bottom: 30px



    &__icon
        margin-right: 20px

    &__button
        margin-top: 30px
        padding-right: 14px
        padding-left: 14px
        +mq($medium)
            margin-top: 15px

