mixin mounting-35(data)
    section.mounting.mounting_third&attributes(attributes)
        .mounting__container.container
            h2.mounting__title.title Наше производство


            .mounting__row
                figure.mounting__image
                    img(src="assets/images/content/mounting-img-1.jpg", alt="")
                .mounting__entry
                    .mounting__text
                        p Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.  Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.  Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.  Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.  Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.  Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.
                    a.mounting__button.button(href="#") Подробнее


