mixin header(data)
    header.header&attributes(attributes)
        .header__container.container
            figure.header__logo.logo
                img(src="assets/images/general/logo@2x.png", alt="logo")
            .header__w
                nav.header__nav.nav.nav_primary
                    button.nav__trigger
                        != pugHelpers.Icon.call(locals, {iconName: 'burger-icon', className: 'nav__trigger-icon'})

                    button.nav__close
                        != pugHelpers.Icon.call(locals, {iconName: 'close-icon', className: 'nav__close-icon'})


                    ul.nav__list
                        li.nav__item.nav__item_current
                            a.nav__link(href="#") О нас
                        li.nav__item
                            a.nav__link(href="#") Продукция
                        li.nav__item
                            a.nav__link(href="#") Производство
                        li.nav__item
                            a.nav__link(href="#") Техническая информация
                        li.nav__item
                            a.nav__link(href="#") Сферы применения
                        li.nav__item
                            a.nav__link(href="#") Контакты


                a.header__phone.phone(href="tel+88005117731")
                    != pugHelpers.Icon.call(locals, {iconName: 'phone-icon', className: 'phone__icon'})
                    | 8 800 511 77 31


