mixin mounting-30(data)
    section.mounting#section-3&attributes(attributes)
        .mounting__container.container
            .mounting__title-w
                h2.mounting__title.title Монтаж панелей

                a.mounting__to-bottom.to-bottom.js-to-go(href='#section-4')
                    != pugHelpers.Icon.call(locals, {iconName: 'to-bottom-icon', className: 'to-bottom__icon'})


            .mounting__row
                figure.mounting__image
                    img(src="assets/images/content/mounting-img-1.jpg", alt="")
                .mounting__entry
                    .mounting__text
                        p Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.  Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.  Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.  Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.  Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.  Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.
                    a.mounting__button.button(href="#") Узнать подробнее

            .mounting__text
                p За счет конструкции систем Т-24 и Т-15 и применения в них коррозионностойких материалов, возможно применение этих систем для монтажа в них тяжёлых потолочных панелей. Конструкции подвесных систем Т-24 и Т-15 созданы с целью обеспечить простой, быстрый, но в то же время надежный монтаж подвесных негорючих потолков Криплат.

            .mounting__row
                figure.mounting__image.mounting__image_w_caption
                    img(src="assets/images/content/mounting-img-2.png", alt="")
                    figcaption.mounting__caption Конструкция Т 24

                figure.mounting__image.mounting__image_w_caption
                    img(src="assets/images/content/mounting-img-2.png", alt="")
                    figcaption.mounting__caption Конструкция Т 15

            .mounting__text
                p При монтаже и демонтаже подвесных систем не требуется применять специальный инструмент. Подвесные системы Т-24 и Т-15 являются несгораемым каркасом (класс горючести — НГ)

                p Основные направляющие имеют специальное отверстие (пожарный компенсатор), которое компенсирует температурные расширения в случае пожара. Это сохраняет структурную целостность подвесного потолка, удерживает панели на месте и предотвращает обрушение потолка при пожаре.
