mixin line(data)
    .line&attributes(attributes)
        .line__container.container
            .line__row.row
                .line__col.col
                    .line__entry
                        h2.line__title.title 2 линии каширования панелей
                        .line__text.text
                            p 2 современные линии для ламинирования панелей пленкой пвх, лалала Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.  Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.  Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.  Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.  Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.  Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.

                .line__col.col
                    figure.line__image
                        img(src="assets/images/content/production-img-2.png", alt="")


mixin line-second(data)
    .line&attributes(attributes)
        .line__container.container
            h2.line__title.title линия окраски панелей
            ul.line__features
                li.line__features-item
                    != pugHelpers.Icon.call(locals, {iconName: 'painting-icon-1', className: 'line__features-icon'})

                    .line__features-title современная линия окраски панелей

                li.line__features-item
                    != pugHelpers.Icon.call(locals, {iconName: 'painting-icon-2', className: 'line__features-icon'})

                    .line__features-title высококлассные специалисты

                li.line__features-item
                    != pugHelpers.Icon.call(locals, {iconName: 'painting-icon-3', className: 'line__features-icon'})

                    .line__features-title экологичные материалы


            .line__row.row
                .line__col.col
                    .line__entry
                        .line__text.text
                            p 2 современные линии для ламинирования панелей пленкой пвх, лалала Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.  Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.  Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.  Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.  Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.  Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.

                .line__col.col
                    .line__entry
                        .line__text.text
                            p 2 современные линии для ламинирования панелей пленкой пвх, лалала Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.  Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.  Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.  Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.  Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.  Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.



mixin line-third(data)
    .line&attributes(attributes)
        .line__container.container
            .line__row.row
                .line__col.col
                    .line__entry
                        h2.line__title.title Линия порошковой окраски
                        .line__text.text
                            p 2 современные линии для ламинирования панелей пленкой пвх, лалала Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.  Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.  Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.  Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.  Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.  Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.

                .line__col.col
                    figure.line__image
                        img(src="assets/images/content/production-img-2.png", alt="")

