mixin catalog(data)
    section.catalog
        .catalog__container.container
            h2.catalog__title.title
                != pugHelpers.Icon.call(locals, {iconName: 'wall-panels-icon', className: 'title__icon'})
                | Стеновые панели
            .catalog__grid
                article.catalog__item
                    .catalog__item-w
                        figure.catalog__image
                            img(src='assets/images/content/wall-panels-1.png' alt='')


                        a.catalog__button.button(href='#') Подробнее

                        .catalog__item-title Негорючие панели

                        .catalog__item-text ГКЛ,  СМЛ,  ГСП, ГВЛ


                article.catalog__item
                    .catalog__item-w
                        figure.catalog__image
                            img(src='assets/images/content/wall-panels-1.png' alt='')


                        a.catalog__button.button(href='#') Подробнее

                        .catalog__item-title Ламинированные панели

                        .catalog__item-text ГКЛ,  СМЛ,  ГСП, ГВЛ

                article.catalog__item
                    .catalog__item-w
                        figure.catalog__image
                            img(src='assets/images/content/wall-panels-1.png' alt='')


                        a.catalog__button.button(href='#') Подробнее

                        .catalog__item-title Акриловые панели

                        .catalog__item-text ГКЛ,  СМЛ,  ГСП, ГВЛ

                article.catalog__item
                    .catalog__item-w
                        figure.catalog__image
                            img(src='assets/images/content/wall-panels-1.png' alt='')


                        a.catalog__button.button(href='#') Подробнее

                        .catalog__item-title Панели с полимерным покрытием


                        .catalog__item-text ГКЛ,  СМЛ,  ГСП, ГВЛ

                article.catalog__item
                    .catalog__item-w
                        figure.catalog__image
                            img(src='assets/images/content/wall-panels-1.png' alt='')


                        a.catalog__button.button(href='#') Подробнее

                        .catalog__item-title Панели с виниловым покрытием


                        .catalog__item-text ГКЛ,  СМЛ,  ГСП, ГВЛ

                article.catalog__item
                    .catalog__item-w
                        figure.catalog__image
                            img(src='assets/images/content/wall-panels-1.png' alt='')


                        a.catalog__button.button(href='#') Подробнее

                        .catalog__item-title Акустические панели

                        .catalog__item-text ГКЛ,  СМЛ,  ГСП, ГВЛ


                article.catalog__item
                    .catalog__item-w
                        figure.catalog__image
                            img(src='assets/images/content/wall-panels-1.png' alt='')


                        a.catalog__button.button(href='#') Подробнее

                        .catalog__item-title Панели с HPL-покрытием

                        .catalog__item-text ГКЛ,  СМЛ,  ГСП, ГВЛ


                article.catalog__item
                    .catalog__item-w
                        figure.catalog__image
                            img(src='assets/images/content/wall-panels-1.png' alt='')


                        a.catalog__button.button(href='#') Подробнее

                        .catalog__item-title Панели с вашим рисунком


                        .catalog__item-text ГКЛ,  СМЛ,  ГСП, ГВЛ
