mixin advantages-35(data)
    section.advantages.advantages_third#section-3
        .advantages__container.container

            h2.advantages__title.title Сотрудничество с нами это

            ul.advantages__list
                li.advantages__item
                    != pugHelpers.Icon.call(locals, {iconName: 'cooperation-icon-1', className: 'advantages__icon'})
                    .advantages__item-text Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.

                li.advantages__item
                    != pugHelpers.Icon.call(locals, {iconName: 'cooperation-icon-1', className: 'advantages__icon'})
                    .advantages__item-text Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.

                li.advantages__item
                    != pugHelpers.Icon.call(locals, {iconName: 'cooperation-icon-1', className: 'advantages__icon'})
                    .advantages__item-text Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.

                li.advantages__item
                    != pugHelpers.Icon.call(locals, {iconName: 'cooperation-icon-1', className: 'advantages__icon'})
                    .advantages__item-text Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.

                li.advantages__item
                    != pugHelpers.Icon.call(locals, {iconName: 'cooperation-icon-1', className: 'advantages__icon'})
                    .advantages__item-text Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.

                li.advantages__item
                    != pugHelpers.Icon.call(locals, {iconName: 'cooperation-icon-1', className: 'advantages__icon'})
                    .advantages__item-text Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.

