mixin usage(data)
    section.usage#page-nav-4
        .usage__container.container
            h2.usage__title.title Сферы применения

            .usage__tabs.tabs
                ul.usage__nav.tabs__nav(data-tabs)
                    li.usage__nav-item
                        a.usage__nav-link(data-tabby-default href='#usage-1')
                            != pugHelpers.Icon.call(locals, {iconName: 'usage-1', className: 'usage__nav-icon'})
                            .usage__nav-text Аэропорт
                    li.usage__nav-item
                        a.usage__nav-link(href="#usage-2")
                            != pugHelpers.Icon.call(locals, {iconName: 'usage-2', className: 'usage__nav-icon'})
                            .usage__nav-text Больницы
                    li.usage__nav-item
                        a.usage__nav-link(href="#usage-3")
                            != pugHelpers.Icon.call(locals, {iconName: 'usage-3', className: 'usage__nav-icon'})
                            .usage__nav-text Казармы
                    li.usage__nav-item
                        a.usage__nav-link(href="#usage-4")
                            != pugHelpers.Icon.call(locals, {iconName: 'usage-4', className: 'usage__nav-icon'})
                            .usage__nav-text Поликлиника
                    li.usage__nav-item
                        a.usage__nav-link(href="#usage-5")
                            != pugHelpers.Icon.call(locals, {iconName: 'usage-5', className: 'usage__nav-icon'})
                            .usage__nav-text Гостиница
                    li.usage__nav-item
                        a.usage__nav-link(href="#usage-6")
                            != pugHelpers.Icon.call(locals, {iconName: 'usage-6', className: 'usage__nav-icon'})
                            .usage__nav-text Армия




                .usage__tabs-content

                    #usage-1.usage__tab
                        .usage__slider.slider.swiper-container.js-usage-slider
                            .swiper-wrapper
                                .swiper-slide
                                    .usage__slider-item
                                        a.usage__slider-link(href="")
                                            img.usage__slider-image(src="assets/images/content/slider-img-1.jpg", alt="")

                                .swiper-slide
                                    .usage__slider-item
                                        a.usage__slider-link(href="")
                                            img.usage__slider-image(src="assets/images/content/slider-img-1.jpg", alt="")


                                .swiper-slide
                                    .usage__slider-item
                                        a.usage__slider-link(href="")
                                            img.usage__slider-image(src="assets/images/content/slider-img-1.jpg", alt="")


                            .slider__pagination-w

                                .swiper-pagination.slider__pagination

                                .slider__button.slider__button_prev
                                    != pugHelpers.Icon.call(locals, {iconName: 'slider-arrow', className: 'slider__button-icon'})
                                .slider__button.slider__button_next
                                    != pugHelpers.Icon.call(locals, {iconName: 'slider-arrow', className: 'slider__button-icon'})

                    #usage-2.usage__tab
                        .usage__slider.slider.swiper-container.js-usage-slider
                            .swiper-wrapper
                                .swiper-slide
                                    .usage__slider-item
                                        a.usage__slider-link(href="")
                                            img.usage__slider-image(src="assets/images/content/slider-img-1.jpg", alt="")

                                .swiper-slide
                                    .usage__slider-item
                                        a.usage__slider-link(href="")
                                            img.usage__slider-image(src="assets/images/content/slider-img-1.jpg", alt="")


                                .swiper-slide
                                    .usage__slider-item
                                        a.usage__slider-link(href="")
                                            img.usage__slider-image(src="assets/images/content/slider-img-1.jpg", alt="")


                            .slider__pagination-w

                                .swiper-pagination.slider__pagination

                                .slider__button.slider__button_prev
                                    != pugHelpers.Icon.call(locals, {iconName: 'slider-arrow', className: 'slider__button-icon'})
                                .slider__button.slider__button_next
                                    != pugHelpers.Icon.call(locals, {iconName: 'slider-arrow', className: 'slider__button-icon'})

                    #usage-3.usage__tab
                        .usage__slider.slider.swiper-container.js-usage-slider
                            .swiper-wrapper
                                .swiper-slide
                                    .usage__slider-item
                                        a.usage__slider-link(href="")
                                            img.usage__slider-image(src="assets/images/content/slider-img-1.jpg", alt="")

                                .swiper-slide
                                    .usage__slider-item
                                        a.usage__slider-link(href="")
                                            img.usage__slider-image(src="assets/images/content/slider-img-1.jpg", alt="")


                                .swiper-slide
                                    .usage__slider-item
                                        a.usage__slider-link(href="")
                                            img.usage__slider-image(src="assets/images/content/slider-img-1.jpg", alt="")


                            .slider__pagination-w

                                .swiper-pagination.slider__pagination

                                .slider__button.slider__button_prev
                                    != pugHelpers.Icon.call(locals, {iconName: 'slider-arrow', className: 'slider__button-icon'})
                                .slider__button.slider__button_next
                                    != pugHelpers.Icon.call(locals, {iconName: 'slider-arrow', className: 'slider__button-icon'})

                    #usage-4.usage__tab
                        .usage__slider.slider.swiper-container.js-usage-slider
                            .swiper-wrapper
                                .swiper-slide
                                    .usage__slider-item
                                        a.usage__slider-link(href="")
                                            img.usage__slider-image(src="assets/images/content/slider-img-1.jpg", alt="")

                                .swiper-slide
                                    .usage__slider-item
                                        a.usage__slider-link(href="")
                                            img.usage__slider-image(src="assets/images/content/slider-img-1.jpg", alt="")


                                .swiper-slide
                                    .usage__slider-item
                                        a.usage__slider-link(href="")
                                            img.usage__slider-image(src="assets/images/content/slider-img-1.jpg", alt="")


                            .slider__pagination-w

                                .swiper-pagination.slider__pagination

                                .slider__button.slider__button_prev
                                    != pugHelpers.Icon.call(locals, {iconName: 'slider-arrow', className: 'slider__button-icon'})
                                .slider__button.slider__button_next
                                    != pugHelpers.Icon.call(locals, {iconName: 'slider-arrow', className: 'slider__button-icon'})

                    #usage-5.usage__tab
                        .usage__slider.slider.swiper-container.js-usage-slider
                            .swiper-wrapper
                                .swiper-slide
                                    .usage__slider-item
                                        a.usage__slider-link(href="")
                                            img.usage__slider-image(src="assets/images/content/slider-img-1.jpg", alt="")

                                .swiper-slide
                                    .usage__slider-item
                                        a.usage__slider-link(href="")
                                            img.usage__slider-image(src="assets/images/content/slider-img-1.jpg", alt="")


                                .swiper-slide
                                    .usage__slider-item
                                        a.usage__slider-link(href="")
                                            img.usage__slider-image(src="assets/images/content/slider-img-1.jpg", alt="")


                            .slider__pagination-w

                                .swiper-pagination.slider__pagination

                                .slider__button.slider__button_prev
                                    != pugHelpers.Icon.call(locals, {iconName: 'slider-arrow', className: 'slider__button-icon'})
                                .slider__button.slider__button_next
                                    != pugHelpers.Icon.call(locals, {iconName: 'slider-arrow', className: 'slider__button-icon'})

                    #usage-6.usage__tab
                        .usage__slider.slider.swiper-container.js-usage-slider
                            .swiper-wrapper
                                .swiper-slide
                                    .usage__slider-item
                                        a.usage__slider-link(href="")
                                            img.usage__slider-image(src="assets/images/content/slider-img-1.jpg", alt="")

                                .swiper-slide
                                    .usage__slider-item
                                        a.usage__slider-link(href="")
                                            img.usage__slider-image(src="assets/images/content/slider-img-1.jpg", alt="")


                                .swiper-slide
                                    .usage__slider-item
                                        a.usage__slider-link(href="")
                                            img.usage__slider-image(src="assets/images/content/slider-img-1.jpg", alt="")


                            .slider__pagination-w

                                .swiper-pagination.slider__pagination

                                .slider__button.slider__button_prev
                                    != pugHelpers.Icon.call(locals, {iconName: 'slider-arrow', className: 'slider__button-icon'})
                                .slider__button.slider__button_next
                                    != pugHelpers.Icon.call(locals, {iconName: 'slider-arrow', className: 'slider__button-icon'})




            .usage__all-w
                a.usage__all.button.button_bigger(href="#more") Смотреть портфолио
