mixin panels-nav(data)
    nav.panels-nav
        button.panels-nav__trigger Виды панелей
            span.panels-nav__arrow

        ul.panels-nav__list.container
            li.panels-nav__item
                a.panels-nav__link(href="#") Стеновые панели
            li.panels-nav__item
                a.panels-nav__link(href="#") Фасадные панели
            li.panels-nav__item.panels-nav__item_current
                a.panels-nav__link(href="#") Потолок
            li.panels-nav__item
                a.panels-nav__link(href="#") Панели без отделки
            li.panels-nav__item
                a.panels-nav__link(href="#") Профиль декоративный

