mixin first-32(data)
    .first.first_32
        .first__container.container
            +breadcrumbs-32().first__breadcrrumbs
            .first__row
                .first__entry
                    h1.first__title.title Фасадные панели
                    .first__text Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.

                    ul.first__nav-list
                        li.first__nav-item
                            a.first__nav-link(href='#')
                                != pugHelpers.Icon.call(locals, {iconName: 'first-nav-icon', className: 'first__nav-icon'})
                                | Фиброцементная плита

                        li.first__nav-item
                            a.first__nav-link(href='#')
                                != pugHelpers.Icon.call(locals, {iconName: 'first-nav-icon', className: 'first__nav-icon'})
                                | Стекломагниевый лист

                        li.first__nav-item
                            a.first__nav-link(href='#')
                                != pugHelpers.Icon.call(locals, {iconName: 'first-nav-icon', className: 'first__nav-icon'})
                                | HPL полнотолщинный



                .first__scheme
                    .first__scheme-w
                        .first__scheme-markers
                            .first__scheme-marker.first__scheme-marker_1
                                button.first__scheme-button
                                    != pugHelpers.Icon.call(locals, {iconName: 'scheme-marker', className: 'first__scheme-icon'})

                            .first__bubble

                                button.first__bubble-close
                                    != pugHelpers.Icon.call(locals, {iconName: 'close-icon', className: 'first__close-icon'})

                                .swiper-container
                                    .swiper-wrapper
                                        .swiper-slide
                                            .first__bubble-title Заголовок
                                            .first__bubble-text Lorem ipsum dolor sit amet, mel noster imperdiet

                                        .swiper-slide
                                            .first__bubble-title Заголовок 2
                                            .first__bubble-text Lorem ipsum dolor sit amet, mel noster imperdiet

                                        .swiper-slide
                                            .first__bubble-title Заголовок 3
                                            .first__bubble-text Lorem ipsum dolor sit amet, mel noster imperdiet

                                    .first__bubble-nav
                                        .slider__button.slider__button_prev
                                            != pugHelpers.Icon.call(locals, {iconName: 'slider-arrow', className: 'slider__button-icon'})
                                        .slider__button.slider__button_next
                                            != pugHelpers.Icon.call(locals, {iconName: 'slider-arrow', className: 'slider__button-icon'})

                            .first__scheme-marker.first__scheme-marker_2
                                button.first__scheme-button
                                    != pugHelpers.Icon.call(locals, {iconName: 'scheme-marker', className: 'first__scheme-icon'})

                            .first__bubble

                                button.first__bubble-close
                                    != pugHelpers.Icon.call(locals, {iconName: 'close-icon', className: 'first__close-icon'})

                                .swiper-container
                                    .swiper-wrapper
                                        .swiper-slide
                                            .first__bubble-title Заголовок
                                            .first__bubble-text Lorem ipsum dolor sit amet, mel noster imperdiet

                                        .swiper-slide
                                            .first__bubble-title Заголовок 2
                                            .first__bubble-text Lorem ipsum dolor sit amet, mel noster imperdiet

                                        .swiper-slide
                                            .first__bubble-title Заголовок 3
                                            .first__bubble-text Lorem ipsum dolor sit amet, mel noster imperdiet

                                    .first__bubble-nav
                                        .slider__button.slider__button_prev
                                            != pugHelpers.Icon.call(locals, {iconName: 'slider-arrow', className: 'slider__button-icon'})
                                        .slider__button.slider__button_next
                                            != pugHelpers.Icon.call(locals, {iconName: 'slider-arrow', className: 'slider__button-icon'})

                            .first__scheme-marker.first__scheme-marker_3
                                button.first__scheme-button
                                    != pugHelpers.Icon.call(locals, {iconName: 'scheme-marker', className: 'first__scheme-icon'})

                            .first__bubble

                                button.first__bubble-close
                                    != pugHelpers.Icon.call(locals, {iconName: 'close-icon', className: 'first__close-icon'})

                                .swiper-container
                                    .swiper-wrapper
                                        .swiper-slide
                                            .first__bubble-title Заголовок
                                            .first__bubble-text Lorem ipsum dolor sit amet, mel noster imperdiet

                                        .swiper-slide
                                            .first__bubble-title Заголовок 2
                                            .first__bubble-text Lorem ipsum dolor sit amet, mel noster imperdiet

                                        .swiper-slide
                                            .first__bubble-title Заголовок 3
                                            .first__bubble-text Lorem ipsum dolor sit amet, mel noster imperdiet

                                    .first__bubble-nav
                                        .slider__button.slider__button_prev
                                            != pugHelpers.Icon.call(locals, {iconName: 'slider-arrow', className: 'slider__button-icon'})
                                        .slider__button.slider__button_next
                                            != pugHelpers.Icon.call(locals, {iconName: 'slider-arrow', className: 'slider__button-icon'})

                            .first__scheme-marker.first__scheme-marker_4
                                button.first__scheme-button
                                    != pugHelpers.Icon.call(locals, {iconName: 'scheme-marker', className: 'first__scheme-icon'})

                            .first__bubble

                                button.first__bubble-close
                                    != pugHelpers.Icon.call(locals, {iconName: 'close-icon', className: 'first__close-icon'})

                                .swiper-container
                                    .swiper-wrapper
                                        .swiper-slide
                                            .first__bubble-title Заголовок
                                            .first__bubble-text Lorem ipsum dolor sit amet, mel noster imperdiet

                                        .swiper-slide
                                            .first__bubble-title Заголовок 2
                                            .first__bubble-text Lorem ipsum dolor sit amet, mel noster imperdiet

                                        .swiper-slide
                                            .first__bubble-title Заголовок 3
                                            .first__bubble-text Lorem ipsum dolor sit amet, mel noster imperdiet

                                    .first__bubble-nav
                                        .slider__button.slider__button_prev
                                            != pugHelpers.Icon.call(locals, {iconName: 'slider-arrow', className: 'slider__button-icon'})
                                        .slider__button.slider__button_next
                                            != pugHelpers.Icon.call(locals, {iconName: 'slider-arrow', className: 'slider__button-icon'})


                            .first__scheme-marker.first__scheme-marker_5
                                button.first__scheme-button
                                    != pugHelpers.Icon.call(locals, {iconName: 'scheme-marker', className: 'first__scheme-icon'})

                            .first__bubble

                                button.first__bubble-close
                                    != pugHelpers.Icon.call(locals, {iconName: 'close-icon', className: 'first__close-icon'})

                                .swiper-container
                                    .swiper-wrapper
                                        .swiper-slide
                                            .first__bubble-title Заголовок
                                            .first__bubble-text Lorem ipsum dolor sit amet, mel noster imperdiet

                                        .swiper-slide
                                            .first__bubble-title Заголовок 2
                                            .first__bubble-text Lorem ipsum dolor sit amet, mel noster imperdiet

                                        .swiper-slide
                                            .first__bubble-title Заголовок 3
                                            .first__bubble-text Lorem ipsum dolor sit amet, mel noster imperdiet

                                    .first__bubble-nav
                                        .slider__button.slider__button_prev
                                            != pugHelpers.Icon.call(locals, {iconName: 'slider-arrow', className: 'slider__button-icon'})
                                        .slider__button.slider__button_next
                                            != pugHelpers.Icon.call(locals, {iconName: 'slider-arrow', className: 'slider__button-icon'})



                        picture.first__scheme-img
                            source(srcset='assets/images/content/scheme-img-mob-4.png 1x, assets/images/content/scheme-img-mob-4@2x.png 2x' media='(max-width: 1200px) ')
                            source(srcset='assets/images/content/scheme-img-mob-4.webp 1x, assets/images/content/scheme-img-mob-4@2x.webp 2x' media='(max-width: 1200px)')
                            source(type='image/webp' srcset='assets/images/content/scheme-img-4.webp 1x, assets/images/content/scheme-img-4@2x.webp 2x')
                            img(src='assets/images/content/scheme-img-4.png' srcset='assets/images/content/scheme-img-4.png 1x, assets/images/content/scheme-img-4@2x.png 2x' alt='schema')




                .first__use-cases.use-cases
                    h2.use-cases__title.title Сферы применения
                    ul.use-cases__list
                        li.use-cases__item
                            != pugHelpers.Icon.call(locals, {iconName: 'list-check-icon', className: 'use-cases__icon'})
                            | Аэропорт

                        li.use-cases__item
                            != pugHelpers.Icon.call(locals, {iconName: 'list-check-icon', className: 'use-cases__icon'})
                            | Поликлиника

                        li.use-cases__item
                            != pugHelpers.Icon.call(locals, {iconName: 'list-check-icon', className: 'use-cases__icon'})
                            | Больница

                        li.use-cases__item
                            != pugHelpers.Icon.call(locals, {iconName: 'list-check-icon', className: 'use-cases__icon'})
                            | Гостиница

                        li.use-cases__item
                            != pugHelpers.Icon.call(locals, {iconName: 'list-check-icon', className: 'use-cases__icon'})
                            | Казарма

                        li.use-cases__item
                            != pugHelpers.Icon.call(locals, {iconName: 'list-check-icon', className: 'use-cases__icon'})
                            | Армия

                    a.use-cases__button.button.button_bigger(href='#') Посмотреть фотогалерею
