.first_32
    // .first__button
    //     margin-bottom: 40px
    //     +mq($large)
    //         margin-bottom: 68px
    .first__container
        padding-bottom: $p
    .first__title
        padding-right: 30px
        +mq($medium)
            padding-right: 0

    .first__use-cases
        +mq($medium)
            margin-top: 0
        +mq($large)
            margin-top: -320px

    .first__scheme
        margin-top: 34px
        padding-bottom: 90px
        +mq($medium)
            margin-top: 0
            padding-bottom: 96px
        +mq($large)
            margin-top: 0
            padding-bottom: 650px

    .first__scheme-w
        top: -2px
        right: 20px
        +mq($large)
            top: 0
            right: -15px


    .first__scheme-img
        width: 377px
        +mq($large)
            width: 716px


    .first__scheme-marker_1
        top: 76%
        left: 12%
        +mq($large)
            top: 75%
            left: 29%

        + .first__bubble
            +mq($large)
                top: 93%
                left: 24%


    .first__scheme-marker_2
        top: 32%
        left: 44%
        +mq($large)
            top: 18%
            left: 46%

        + .first__bubble
            +mq($large)
                top: -6%
                left: 25%

            &:after
                +mq($large)
                    top: auto
                    bottom: -32px
                    left: auto
                    right: 50px
                    width: 0
                    height: 0
                    border-style: solid
                    border-width: 32px 19px 0 19px
                    border-color: #ffffff transparent transparent transparent


    .first__scheme-marker_3
        top: 41%
        left: 14%
        +mq($large)
            top: 34%
            left: 45%


        + .first__bubble
            +mq($large)
                top: 50%
                left: 23%
            &:after

                +mq($large)
                    left: auto
                    right: 30px

    .first__scheme-marker_4
        top: 35%
        left: auto
        right: 6%
        +mq($large)
            top: 3%
            left: auto
            right: 8%


        + .first__bubble
            +mq($large)
                top: 17%
                left: auto
                right: 7%

            &:after
                +mq($large)
                    left: auto
                    right: 26px

    .first__scheme-marker_5
        top: 58%
        left: 57%
        +mq($large)
            top: 51%
            left: 67%

        + .first__bubble
            +mq($large)
                top: 68%
                left: 62%
