.first_28

    .first__title
        margin-bottom: 17px
        padding-right: 30px
        word-break: normal
        +mq($medium)
            margin-bottom: 25px

    .first__text
        margin-bottom: 30px

    .first__price
        margin-bottom: 33px
        +mq($medium)
            margin-bottom: 26px

    .first__scheme
        width: 100vw
        +mq($xsmall)
            width: auto
        +mq($large)
            padding-bottom: 0
            width: auto

    .first__scheme-w
        top: 0
        right: 0
        left: 0
        // width: 100%
        transform: translateX(-20px)
        // width: 100vw
        // +mq($extrasmall)

        +mq($xsmall)
            transform: translateX(-15px)

        +mq($medium)
            top: 90px
            right: -102px
            width: 776px
            height: 514px

    .first__scheme-img
        width: 100%
        +mq($medium)
            margin-top: 23px
        +mq($large)
            margin-top: 0
            // width: 780px


    .first__scheme-marker_1
        top: 75%
        left: 11%
        +mq($large)
            top: 79%
            left: 25%

        + .first__bubble
            +mq($large)
                top: 101%
                left: 18%


    .first__scheme-marker_2
        top: 31%
        left: 43%
        +mq($large)
            top: 14%
            left: 41%

        + .first__bubble
            +mq($large)
                top: -15%
                left: 19%

            &:after
                +mq($large)
                    top: auto
                    bottom: -32px
                    left: auto
                    right: 50px
                    width: 0
                    height: 0
                    border-style: solid
                    border-width: 32px 19px 0 19px
                    border-color: #ffffff transparent transparent transparent


    .first__scheme-marker_3
        top: 39%
        left: 13%
        +mq($large)
            top: 31%
            left: 41%


        + .first__bubble
            +mq($large)
                top: 50%
                left: 17%
            &:after

                +mq($large)
                    left: auto
                    right: 30px

    .first__scheme-marker_4
        top: 34%
        left: auto
        right: 5%
        +mq($large)
            top: -4%
            left: auto
            right: 17%

        + .first__bubble
            +mq($large)
                top: 12%
                left: auto
                right: 13%

            &:after
                +mq($large)
                    left: auto
                    right: 26px

    .first__scheme-marker_5
        top: 57%
        left: 57%
        +mq($large)
            top: 51%
            left: 61%

        + .first__bubble
            +mq($large)
                top: 71%
                left: 53%


    .first__button
        margin-bottom: 46px
        display: none
        +mq($medium)
            display: inline-flex

    .filter-panels__submit
        margin-top: 23px

