mixin mounting(data)
    section.mounting&attributes(attributes)
        .mounting__container.container
            .mounting__title-w
                h2.mounting__title.title Монтаж панелей

                a.mounting__to-bottom.to-bottom.js-to-go(href='#section-3')
                    != pugHelpers.Icon.call(locals, {iconName: 'to-bottom-icon', className: 'to-bottom__icon'})

            ul.mounting__list
                li.mounting__item
                    .mounting__item-title Этап 1
                    .mounting__item-text Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.
                li.mounting__item
                    .mounting__item-title Этап 2
                    .mounting__item-text Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.
                li.mounting__item
                    .mounting__item-title Этап 3
                    .mounting__item-text Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.
                li.mounting__item
                    .mounting__item-title Этап 4
                    .mounting__item-text Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.

            .mounting__row
                figure.mounting__image
                    img(src="assets/images/content/mounting-img-1.jpg", alt="")
                .mounting__entry
                    .mounting__text
                        p Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.  Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.  Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.  Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.  Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.  Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.
                    a.mounting__button.button(href="#") Узнать подробнее


mixin mounting-second(data)
    section.mounting#section-3&attributes(attributes)
        .mounting__container.container
            .mounting__title-w
                h2.mounting__title.title Профиль

                a.mounting__to-bottom.to-bottom.js-to-go(href='#section-4')
                    != pugHelpers.Icon.call(locals, {iconName: 'to-bottom-icon', className: 'to-bottom__icon'})

            ul.mounting__list
                li.mounting__item
                    .mounting__item-title Этап 1
                    .mounting__item-text Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.
                li.mounting__item
                    .mounting__item-title Этап 2
                    .mounting__item-text Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.
                li.mounting__item
                    .mounting__item-title Этап 3
                    .mounting__item-text Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.
                li.mounting__item
                    .mounting__item-title Этап 4
                    .mounting__item-text Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.

            .mounting__row
                figure.mounting__image
                    img(src="assets/images/content/mounting-img-1.jpg", alt="")
                .mounting__entry
                    .mounting__text
                        p Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.  Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.  Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.  Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.  Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.  Lorem ipsum dolor sit amet, mel noster imperdiet complectitur cu, fabulas graecis lobortis usu id.
                    a.mounting__button.button(href="#") Узнать подробнее
