mixin breadcrumbs-28(data)
    .breadcrumbs&attributes(attributes)
        .breadcrumbs__container.container
            ol.breadcrumbs__list
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="#") Главная
                    != pugHelpers.Icon.call(locals, {iconName: 'breadcrumbs-sep', className: 'breadcrumbs__sep'})
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="#") Панели
                    != pugHelpers.Icon.call(locals, {iconName: 'breadcrumbs-sep', className: 'breadcrumbs__sep'})
                li.breadcrumbs__item
                    a.breadcrumbs__link(href="#") Негорючие панели
                    != pugHelpers.Icon.call(locals, {iconName: 'breadcrumbs-sep', className: 'breadcrumbs__sep'})
                li.breadcrumbs__item
                    span.breadcrumbs__last СМЛ Окрашенный
